@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --hcmus-logo: #111b88;
    --blue-01: #21262c;
    --blue-02: #055abc;
    --blue-02-20-percent: #003f8833;
    --blue-03: #e0fffb;
    --secondary: #a1a1a1;
    --text: #343f52;
    --blue-04: #e6f0fb;
    --warning: #cc3300;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}
