@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --hcmus-logo: #111b88;
    --blue-01: #21262c;
    --blue-02: #055abc;
    --blue-03: #e0fffb;
    --blue-04: #e6f0fb;
    --blue-05: #003f88;
    --blue-05-10: #003f881a;
    --blue-05-20: #003f8833;
    --secondary: #a1a1a1;
    --text-navbar: #6c6f70;
    --delete-filter: #bebebe;
    --pampas: #f2efe8;
    --westar: #ddd9d3;
    --text: #343f52;
    --warning: #cc3300;
    --delete: #e1533b;
    --cocoa-brown: #1e1515;
    --cocoa-brown-20: #1e151533;
    --layer: #183b5642; /* Màu nền của chữ sau bản tin */
    --comment-input: #f0f2f5;
    --highlight-bg: #e7f3ff;
}

@media (prefers-color-scheme: dark) {
    :root {
    }
}
.ql-editor {
    font-size: 16px;
}

.ql-editor img {
    cursor: default !important;
}
